.index_title {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.user {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.new {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}